body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #ebe8e8cd; */
    background: linear-gradient(135deg, #F0F4F8, #D9E2EC);
}

.login-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.122);
    gap: 10px;
    max-width: 400px;
}

.login-form{
    border-radius: 20px;
    min-width: 280px;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    background-color: #fff;
    max-width: 400px;
}


.login-form h2 {
    margin-top: 15px;
    font-size: 1.5rem;
}

.login-form p {
    margin-top: 20px;
    color: #666;
    font-size: 15px;
    line-height: 20px;
}

.login-form form {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form form input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form form input[type="submit"] {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.login-form form input[type="submit"]:hover {
    background-color: #45a049;
}

.login-form form a{
    text-decoration: underline;
}
.login-form form a:hover{
    color: blue;
}

.login-form a {
    padding-top: 20px;
    padding-right: 2px;
    text-align: right;
    /* color: #4CAF50; */
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}
