<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="{{ url_for('beforeLoginHome_pg.static',filename='css/header.css') }}">
</head>
<body>
    <!--Header start-->
    <header>
        <div class="title">E-Learning</div>
        <div class="headOptions">
            <ul>
                <li><a href="{{ url_for('beforeLoginHome_pg.home') }}" class="homeOption">Home</a></li>
                <li><a href="{{ url_for('beforeLoginHome_pg.courses') }}" class="coursesOption">Courses</a></li>
                <li><a href="{{ url_for('beforeLoginHome_pg.aboutus') }}" class="aboutUsOption">About Us</a></li>
                <li><a href="{{ url_for('beforeLoginHome_pg.contactus') }}" class="contactUsOption">Contact Us</a></li>
                <li><a href="{{ url_for('beforeLoginHome_pg.login') }}" class="loginOption">Login</a></li>
                <li><a href="{{ url_for('beforeLoginHome_pg.signup') }}" class="signUpOption">Sign Up</a></li>
            </ul>
        </div>
    </header>
    <!--Header end-->
</body>
</html>