/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #e9f0ff; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /*height: 100vh; 
}*/

.chatbot-container {
    width: 420px;
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 10px rgba(26, 25, 25, 0.548);
    overflow: hidden;
}

.chat-header {
    background-color: #6a4cb8;
    color: white;
    height:100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items:center;
}

.chat-body {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background-color: #f5f7fa;
}

.message {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}

.chat-body .bot .bicon {
    font-size: 24px;
    margin-right: 5px;
}

.chat-body .user .uicon {
    font-size: 12px;
    font-weight: 550;
    margin-left: 5px;
    /* color: #6a4cb8; */
    color: black;
    /* width: 35px;
    height: 35px; */
    border: 1px solid #ccc;
    padding: 10px 6px;
    background-color:rgb(219, 237, 252);
    border-radius: 50%;
}

.chat-body .user {
    justify-content: flex-end;
}

.chat-body .user .text {
    background-color: #5c54ff;
    color: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 75%;
}

.chat-body .bot .text {
    /* background-color: #f1f0f0; */
    background-color: rgb(219, 237, 252);
    color: black;
    padding: 10px;
    border-radius: 8px;
    max-width: 75%;
}

.chat-footer form{
    display: flex;
    padding: 8px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 16px;
}

.chat-footer input:focus{
    border: 2px solid #0a000055;
}

.chat-footer button {
    /* background-color: #6a4cb8; */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.chat-footer button:hover{
    background-color: #cccccc78;
}
.chat-footer button img{
    width: 21px;
    height:21px;
}